* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  /* top: 100%; */
  bottom:100% !important;
  top:auto!important;
  left: 0;
  right: 0;
  max-height:300px;
  overflow:auto;
  height:auto;
  /* white-space: nowrap; */
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.autocomplete-hint{
  position: absolute;
  top:0px;
  left:0px;
  border-color: transparent;
  opacity: 1;
  color:#999;
}